<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./slider.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <title>Nav</title>
</head>
<body>
    <center>
        <div class="nav-slider">
          <span class="bar1"></span>
          <span class="bar1"></span>
          <span class="bar1"></span>
          <span class="bar1"></span>
          <span class="bar1"></span>
          <span class="bar1"></span>
          <span class="bar1"></span>
          <span class="bar2"></span>
          <span class="bar2"></span>
          <button type="submit" className="">
            &#8249;
          </button>
          <button type="submit" className="">
            &#8250;
          </button>
        </div>
      </center>
</body>
</html>