.treatmentsubmitform{
    width:1654px;
    // height: 500px;

// position: relative;

    &__bottomblue{
        padding-top: 0%;
      overflow-y: hidden;
      overflow-x: hidden;
      width:1654px;
    height: 1800px;
        display: flex;
        flex-direction:row;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #46C1BB 41%, #175C64 100%) 0% 0% no-repeat padding-box;
       text-align: center;
        // padding-left: -110%;
        &__worldclass{
            padding-top: 40%;
            padding-left: 16%;
            width: 562px;
            height: 206px;

            font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 142px/143px SF UI Display;
            text-align: center;
            font: normal normal bold 102px/113px SF UI Display;
            letter-spacing: 32.89px;
            color: #3A3A3A;
            font-family: sans-serif;
            text-transform: uppercase;
            opacity: 1;
            white-space: nowrap;
            }
            &__experience{
                margin-top: -7%;
                padding-left: 23%;
                width: 562px;
                height: 206px;
    
                font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 142px/143px SF UI Display;
                text-align: center;
                font: normal normal bold 102px/113px SF UI Display;
                letter-spacing: 32.89px;
                color: #3A3A3A;
                font-family: sans-serif;
                text-transform: uppercase;
                opacity: 1;
                white-space: nowrap;
                }
        &__schedule{
width:100vh;
height: 17px;
padding-top: 25%;
padding-left: 18%;
padding-bottom: 5%;
display: flex;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 98px/132px SF UI Display;
text-align: center;
font: normal normal bold 70px/72px SF UI Display;

letter-spacing: 20.38px;
color: #FFFFFF;
text-transform: uppercase;
white-space: nowrap;
font-family: sans-serif;
vertical-align: middle;
opacity: 1;
        }  
        &__inputfield1{
          flex-direction: column;
          // display: inline-block;
          float:left;
        padding-top: 6%;
        // padding-bottom:-15%;
        margin-bottom: -8%;
margin-left: 10%;
width: 1080px;
height: 140px;
opacity: 1;    
        }  
        &__inputfield2{
            flex-direction: column;
            display: inline-block;
            padding-bottom: 4%;
margin-left: 10%;
width: 1080px;
height: 00px;
opacity: 1;   
        }      
          
&__buttonvalue{
flex-direction: column;
display: inline-block;
padding-top: 3%;
padding-left:0%;
width: 108px;
height: 1046px;
opacity: 1;

}
&__buttonvalue1{
flex-direction: column;
display: inline-block;

padding-left:18%;
width: 108px;
height: 1046px;
opacity: 1;

}

    }}
    .inputs {
      width:250px;
      height: 40px;
    border:none;
    border-bottom: 1px solid rgb(196, 194, 194);
    background-color: transparent;
    outline: none;
   padding-right: 1%;
   margin-right: 4%;
        
    }
    .inputs1 {
      width:250px;
      height: 40px;
    border:none;
    border-bottom: 1px solid rgb(196, 194, 194);
    background-color: transparent;
    outline: none;
   padding-right: 1%;
   margin-right: 4%;
      
    
        
    }
    .inputs3{
      padding-top:2%;
      width:550px;
      height: 40px;
    border:none;
    border-bottom: 1px solid rgb(196, 194, 194);
    background-color: transparent;
    outline: none;
   padding-right: 1%;
   margin-right: 4%;
        
    }
    .buttons1 {
        width: 290px;
        height: 33px;
        box-shadow: none !important;
        margin-top: 8px;
        border: none;
       white-space: nowrap;
       display: inline;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/28px SF UI Display;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal bold 12px/18px SF UI Display;
    
    letter-spacing: 0px;
    font-family: sans-serif;
    color: #2B8987;
        background: #FEFEFE 0% 0% no-repeat padding-box;
        border-radius: 37px;
        outline: none;
      }
    