.bottomblues{
    // background: transparent linear-gradient(180deg, #FFFFFF 0%, #46C1BB 41%, #175C64 100%) 0% 0% no-repeat padding-box;
      &__bottomblue{
        padding-top: 0%;
        // overflow-y: hidden;
        overflow-x: hidden;
        width:1420px;
          height:100%;
          display: flex;
          // flex-direction:row;
          padding-bottom: 110px;
          display: flex;
          background: transparent linear-gradient(180deg, #FFFFFF 0%, #46C1BB 41%, #175C64 100%) 0% 0% no-repeat padding-box;
         text-align: center;
          // padding-left: -110%;
  
          &__schedule{
  width:100vh;
  height: 17px;
  padding-top: 25%;
  padding-left: 18%;
  padding-bottom: 5%;
  display: flex;
  
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 98px/132px SF UI Display;
  text-align: center;
  font: normal normal bold 70px/72px SF UI Display;
  
  letter-spacing: 20.38px;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: sans-serif;
  vertical-align: middle;
  opacity: 1;
          }  
          &__inputfield1{
              flex-direction: column;
              // display: inline-block;
              float:left;
            padding-top: 6%;
            // padding-bottom:-15%;
            margin-bottom: 0;
  margin-left: -8%;
  width: 1080px;
  height: 140px;
  opacity: 1;   
          }  
          &__inputfield2{
              flex-direction: column;
              display: inline-block;
              padding-bottom: 6%;
  margin-left: -16%;
  width: 1080px;
  height: 00px;
  opacity: 1;   
          }      
            
  
  
      }}
   
  
      input::-webkit-input-placeholder {
        font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Liberation Serif", Georgia, serif;
        color:white;
        transform:translate3d(0px,-7px,-21px)
      
        
    }
    
  ::-webkit-input-placeholder {
    text-align: left;
    padding-left: 0%;
  
  }
  
  form {
      // display: flex; /* 2. display flex to the rescue */
      flex-direction: row;
    }
  input {
      display: inline-block; /* 1. oh noes, my inputs are styled as block... */
  
    }
    .input {
      width:250px;
      height: 40px;
    border:none;
    border-bottom: 1px solid rgb(196, 194, 194);
    background-color: transparent;
    outline: none;
   padding-right: 1%;
   margin-right: 4%;
      
  }
  .input1 {
    width:250px;
    height: 40px;
  border:none;
  border-bottom: 1px solid rgb(196, 194, 194);
  background-color: transparent;
  outline: none;
  
    
  }
  
  
  
  .submitbutton {
    width: 270px;
    height: 33px;
    box-shadow: none !important;
    margin-top: -8px;
    border: none;
   white-space: nowrap;
  margin-left: 24%;
  // padding-left: 10%;
   margin-right: 3%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/28px SF UI Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 12px/18px SF UI Display;
  padding-left: 10%;
  padding-top: 0.5%;
  letter-spacing: 0px;
  font-family: sans-serif;
  color: #2B8987;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    border-radius: 37px;
    outline: none;
  }
  
  
  .callusbutton{
    width: 270px;
    height: 33px;
    box-shadow: none !important;
    margin-top: -8px;
    border: none;
   white-space: nowrap;
  //  display: inline;
   margin-right: 3%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/28px SF UI Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 12px/18px SF UI Display;
  padding-left: 10%;
  padding-top: 0.5%;
  letter-spacing: 0px;
  font-family: sans-serif;
  color: #2B8987;
    background: #FEFEFE 0% 0% no-repeat padding-box;
    border-radius: 37px;
    outline: none;
  }
  