.bottomblues{
  // background: transparent linear-gradient(180deg, #FFFFFF 0%, #46C1BB 41%, #175C64 100%) 0% 0% no-repeat padding-box;
    &__bottomblue1{
      padding-top: 0%;
      width:1349px;
        height:100%;
         padding-bottom: 110px;
        display: flex;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #46C1BB 41%, #175C64 100%) 0% 0% no-repeat padding-box;
      //  text-align: center;
        // padding-left: -110%;

        &__schedule{

padding-top: 250px;
padding-left: 180px;
padding-bottom: 0%;
display: flex;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 98px/132px SF UI Display;
text-align: center;
font: normal normal bold 70px/72px SF UI Display;

letter-spacing: 20.38px;
color: #FFFFFF;
text-transform: uppercase;
white-space: nowrap;
font-family: sans-serif;
vertical-align: middle;
opacity: 1;
        }  
        &__inputfield1{
            // flex-direction: column;
           position: relative;
            float:left;
          padding-top: 90px;
          // padding-bottom:-15%;
          // margin-bottom: -8%;
          padding-top:70px;
padding-left:370px;
width: 1300px;
height: 10px;
opacity: 1;   
        }  
        &__inputfield2{
            flex-direction: column;
            display: inline-block;
            padding-left:370px;
            padding-top:70px;
            width: 1300px;
            height: 10px;
            opacity: 1;  
            padding-bottom: 5%;
        }      
          


    }}
 

    input::-webkit-input-placeholder {
      font-family: sans-serif;
      color:white;
      transform:translate3d(0px,-5px,-21px)
    
      
  }
  
::-webkit-input-placeholder {

  text-align: left;
  padding-left: 0%;
}
form {
    // display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
  }
input {
    display: inline-block; /* 1. oh noes, my inputs are styled as block... */

  }
  .input {
    width:250px;
    height: 40px;
  border:none;
  border-bottom: 1px solid rgb(196, 194, 194);
  background-color: transparent;
  outline: none;
 padding-right: 1%;
 margin-right: 4%;
    
}
.input1 {
  width:250px;
  height: 40px;
border:none;
border-bottom: 1px solid rgb(196, 194, 194);
background-color: transparent;
outline: none;

  
}



.submitbutton1{
  width: 250px;
  height: 33px;
  box-shadow: none !important;
  border: none;
 white-space: nowrap;
;
margin-left: 370px;
;
 margin-right: 3%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/28px SF UI Display;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 12px/18px SF UI Display;
padding-left: 105px;
padding-top: 0.3%;
letter-spacing: 0px;
font-family: sans-serif;
color: #2B8987;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  border-radius: 37px;
  outline: none;
}


.callusbutton1{
  width: 250px;
  height: 33px;
  box-shadow: none !important;
  margin-top: 0px;
  border: none;
 white-space: nowrap;

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/28px SF UI Display;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal bold 12px/18px SF UI Display;
padding-left: 105px;
padding-top: 0.3%;
letter-spacing: 0px;
font-family: sans-serif;
color: #2B8987;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  border-radius: 37px;
  outline: none;
}
