.bottomblues__bottomblue {
  padding-top: 0%;
  width: 1349px;
  height: 100%;
  padding-bottom: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(41%, #46C1BB), to(#175C64)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #FFFFFF 0%, #46C1BB 41%, #175C64 100%) 0% 0% no-repeat padding-box;
}

.bottomblues__bottomblue__schedule {
  padding-top: 250px;
  padding-left: 180px;
  padding-bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 98px/132px SF UI Display;
  text-align: center;
  font: normal normal bold 70px/72px SF UI Display;
  letter-spacing: 20.38px;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: sans-serif;
  vertical-align: middle;
  opacity: 1;
}

.bottomblues__bottomblue__inputfield1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  padding-top: 6%;
  margin-bottom: -8%;
  padding-left: 380px;
  width: 900px;
  height: 140px;
  opacity: 1;
}

.bottomblues__bottomblue__inputfield2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: inline-block;
  padding-bottom: 6%;
  padding-top: 30px;
  padding-left: 380px;
  width: 900px;
  height: 00px;
  opacity: 1;
}

input::-webkit-input-placeholder {
  font-family: sans-serif;
  color: white;
  -webkit-transform: translate3d(0px, -5px, -21px);
          transform: translate3d(0px, -5px, -21px);
}

::-webkit-input-placeholder {
  text-align: left;
  padding-left: 0%;
}

form {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

input {
  display: inline-block;
  /* 1. oh noes, my inputs are styled as block... */
}

.input {
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #c4c2c2;
  background-color: transparent;
  outline: none;
  padding-right: 1%;
  margin-right: 4%;
}

.input1 {
  width: 250px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #c4c2c2;
  background-color: transparent;
  outline: none;
}

.submitbutton {
  width: 260px;
  height: 33px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none;
  white-space: nowrap;
  margin-left: 380px;
  margin-right: 3%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/28px SF UI Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 12px/18px SF UI Display;
  padding-left: 115px;
  padding-top: 0.3%;
  letter-spacing: 0px;
  font-family: sans-serif;
  color: #2B8987;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  border-radius: 37px;
  outline: none;
}

.callusbutton {
  width: 260px;
  height: 33px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 0px;
  border: none;
  white-space: nowrap;
  margin-right: 3%;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 22px/28px SF UI Display;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 12px/18px SF UI Display;
  padding-left: 115px;
  padding-top: 0.3%;
  letter-spacing: 0px;
  font-family: sans-serif;
  color: #2B8987;
  background: #FEFEFE 0% 0% no-repeat padding-box;
  border-radius: 37px;
  outline: none;
}
/*# sourceMappingURL=sumbitform.css.map */