.worldclassexperience{
    width: 400px;
    display:flex;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
   
    &__logobox {
        position: relative;
        border-bottom-left-radius: 230px;
        border-bottom-right-radius: 290px;
        border-top-right-radius:0.459228515625px;
        width: 250px;
        height: 110px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 27px #0000001C;
        opacity: 1;
            &__topnav{
                   
                top: 50px;
                margin-left: 55px;
            margin-top: 30px; 
            // top: 328px;
            left: 228px;
            width: 1394px;
            height: 64px;
            background:yellow;
            
            &__logoimage{
          
            // left: 228px;
            width: 50px;
            height: 46px;
            background: transparent linear-gradient(80deg, #179DAF 0%, #3BB29D 45%, #3FB299 49%, #64B882 82%, #72BB79 100%) 0% 0% no-repeat padding-box;
            
            }
        
            &__Swetha{
                width: 103px;
                height: 21px;
                opacity: 1;
                font: normal normal 18px/20px SF UI Display;
                color:#707070 0% 0% no-repeat padding-box;
                font-family: sans-serif;
                letter-spacing: 0px;
                // margin-top: 5px;
                // margin-left: 50px;
                opacity: 100%;
                // display: inline-block;
                white-space: nowrap;

            }
            &__dentistry{
                width: 77px;
                height: 8px;
                opacity: 1;
                font: normal normal 8px/8px SF UI Display;
            color:#707070 0% 0% no-repeat padding-box;
            font-family: sans-serif;
            letter-spacing: 0px;
            // margin-top: -1px;
            // margin-left: 55px;
            opacity: 100%;
            white-space: nowrap;
            display: flex;
             }}
            }}
// &__heading{
//             margin-top: 22px;
//             // margin-left: 346px;
//             padding-left: 130%;
//             width: 828px;
//             height: 48px;
//         //  display: inline;d
//         display: inline-block;
//                     font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/54px SF UI Display;
//             text-align: center;
//             font: normal normal bold 40px/54px SF UI Display;
//             letter-spacing: 11.44px;
//             color: #313133;
//             font-family: sans-serif;
//             text-transform: uppercase;
//             opacity: 1;
//             white-space: nowrap;
// }
        