.story-subtitle {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
      56px/57px SF UI Display;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 56px/57px SF UI Display;
    letter-spacing: 0px;
    color: #313133;
    opacity: 1;
    font-family: sans-serif;
  }
  
  .story-text {
    font: var(--unnamed-font-style-normal) normal 300 25px/30px SF UI Display;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal 300 25px/30px SF UI Display;
    letter-spacing: 0px;
    color: #313133;
    opacity: 1;
    font-family: sans-serif;
  }
  
  .story-subtitle-small {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
      32px/33px SF UI Display;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 32px/33px SF UI Display;
    letter-spacing: 0px;
    color: #313133;
    opacity: 1;
    font-family: sans-serif;
  }
  